html{
	margin: 0px;
	padding: 0px;
}
.kotak1{
	width: 100%;
	height: 100%;
	background-color: #999999;
	padding: 10px;
}
.kotak2{
	width: 99%;
	height: 8%;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid #484848;
	display: block;
}
.kotak3{
	width: 99%;
	height: 87%;
	margin-top: 5px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid #484848;
	display: block;
}
.kotak4{
	width: 96.3%;
	height: 81%;
	margin-top: 5px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid #484848;
	display: block;
	padding: 20px;
}
.kotak5{
	width: 96.3%;
	height: 82%;
	margin-top: 5px;
	background-color: cornsilk;
	border-radius: 10px;
	border: 5px solid #484848;
	display: block;
	padding: 20px;
}
ul.menu{
	padding: 0;
	list-style-type: none;
	margin: 20px;
	margin-left: 5px;
	width: 100%;
}
ul.menu li{
	width: auto;
	height: 10px;
	padding: 1%;
	background-color: transparent;
	display: inline;
	font-size: 0.9em;
}
ul.menu li:hover{
	background-color: LightSalmon;
	border-radius: 10px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
}
input{
	padding: 5px;
}
input[type=submit]{
	background-color: LightSalmon;
	cursor: pointer;
	font-weight: bold;
	width: 75px;
	height: 30px;
	font-size: 0.8em;
	color: black;
}
table.data{
	padding: 10px;
	background-color: white;
}
table.data td{
	padding: 10px;
}

.row {
    display : flex;
    align-items : center;
    margin-bottom: 15px;
}
.box {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-right : 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
